<h1>Your Visitors</h1>

<table>
  <tr>
    <th>Property</th>
    <th>Uid</th>
    <th>Events</th>
    <th></th>
  </tr>

<% @web_visitors.each do |web_visitor| %>
  <tr>
    <td><%= link_to web_visitor.web_property.name, web_visitor.web_property %></td>
    <td><%= web_visitor.uid %></td>
    <td><%= web_visitor.events.count %></td>
    <td><%= link_to 'Details', web_visitor %></td>
  </tr>
<% end %>
</table>
