<p id="notice"><%= notice %></p>

<p>
  <b>Web property:</b>
  <%= @web_visitor.web_property.name %>
</p>

<p>
  <b>Uid:</b>
  <%= @web_visitor.uid %>
</p>

<%= link_to 'Back', web_property_web_visitors_path(@web_visitor.web_property) %>
