<h1>Your Pages</h1>

<table>
  <tr>
    <th>Property</th>
    <th>Url</th>
    <th>Events</th>
    <th></th>
  </tr>

<% @web_pages.each do |web_page| %>
  <tr>
    <td><%= link_to web_page.web_property.name, web_page.web_property %></td>
    <td><%= web_page.url %></td>
    <td><%= web_page.events.count %></td>
    <td><%= link_to 'Details', web_page %></td>
  </tr>
<% end %>
</table>
