<p id="notice"><%= notice %></p>

<p>
  <b>Web property:</b>
  <%= @web_page.web_property.name %>
</p>

<p>
  <b>Url:</b>
  <%= @web_page.url %>
</p>

<%= link_to 'Back', web_property_web_pages_path(@web_page.web_property) %>
